body {
/* background-color: lightsteelblue; */
    margin: 0;
    background-image: url("../images/swirl-background-art.png");
    background-size: cover;
}

.container {
    width: 90%;
    background-color: linen;
    margin-top: 40px;
}

#gameArt {
    width: 330px;
    height: auto;
}

.titleArea {
    background-color: white;
}

.textArea {
    background-color: aliceblue;
}

#timeRemaining {
    background-color: white;
    padding: 30px 0px 30px 0px;
}

/*
#startButton {

} */


h1 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 54px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 40px;
}

h2 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-style: small-caps;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    font-variant: small-caps;
    padding: 10px 0px 0px 0px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: tomato;
}


#instructions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 2em;
    text-align: left;
    padding: 40px 40px 0px 30px;
    color: black;
}

.question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: left;
    padding: 30px 40px 0px 40px;
    color: midnightblue;
}

.answers {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    text-align: left;
    padding: 0px 40px 0px 70px;
}
